.page {
  margin: 15;
}

.picker {
  color: red;
  height: 100;
  vertical-align: middle;
  margin: 15;
}

.default {
  padding: 8;
  /* border: 1px solid #eeeeee; */
  border-width: 3;
  border-color: #eeeeee;
  /* background-color: #eeeeee; */
  color: black;
  font-size: 20;
  font-weight: 400;
  text-align: center;
  margin: 20;
}